<%= form_for(@paticipation) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :character_id %><br>
    <%= f.select :character_id, Character.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
