<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>

<hr />
<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1> <%= @character.name %>
  <%= link_to 'Back', characters_path, :class => 'btn btn-default' %>  
  <%= link_to 'Edit', edit_character_path(@character), :class => 'btn btn-default' %> 
  <%= link_to 'Delete', @character, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
  </h1>	
  
</div>
