<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Book:</strong>
  <%= @chapter.book.title %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', book_path(@chapter.book) %>

<hr />

<div class="col-md-10">
	<div class="row">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Event</th>
		      <th ></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @chapter.events.each do |event| %>
		      <tr>
		        <td><%= event.title %> </td>
				<td>
<%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%# link_to 'Add Event to Chapter', new_chapter_event_path(chapter_id: params[:id]), class: "btn btn-primary" %>
		
	</div>
</div>
